/* Reset CSS */
body, html {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0 30px;
}
/* ******************CABEÇALHO****************** */

/* Cabeçalho Home */

.header-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 3px solid black;
    width: 100%;
}

.logo-header {
    width: 200px;
}

.background-overlay {
    position: absolute;
    top: 70px;
    bottom: 110px;
    left: 0;
    right: 0;
    background-image: url('https://i.imgur.com/251Jyhh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
}

/* Cabeçalho e Menu */
header {
    padding: 0px 0;
    position: relative;
}

#api-status-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}

#api-logo {
    height: 20px;
    top: 20px;
    width: auto;
    margin-right: 10px;
}

#api-status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid black;
}

.menu {
    position: absolute;
    top: 16px;
    right: 0;
}

nav ul {
    display: grid;
    grid-auto-flow: column;
    gap: 1px;
    list-style-type: none;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.title-bg {
    position: absolute;
    top: 108px;
    left: 0%;
    width: 28%;
    height: 70px;
    background-color: rgba(235, 191, 155, 0.1);
    z-index: 0;
}

.page-title h2,
.page-title p {
    position: absolute;
    color: rgb(0, 0, 0);
    left: 2%;
}

.page-title h2 {
    margin-top: 70px;
}

.page-title p {
    margin-top: 110px;
}

#header-image {
    width: 100%;
    margin-top: 15px;
}

/* ******************FIM DO CABEÇALHO****************** */

.add-box {
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 900px;
    margin: -70px auto 50px;
    position: relative;
    z-index: 10;
}

.newItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}

.add-box .newItem .input-group input[type="text"] {
    flex: 1 !important;
    margin-right: 10px !important;
    height: 35px !important;
    max-width: 180px !important;
    width: 100% !important;
    border: 1px solid rgb(35, 32, 24) !important;
    padding: 5px 10px !important;
    font-size: 16px !important;
    border-radius: 10px;
}

.add-box .newItem .input-group label {
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

.consult-box .newItem .input-group input[type="text"] {
    flex: 1 !important;
    margin-right: 10px !important;
    height: 35px !important;
    max-width: 180px !important;
    width: 100% !important;
    border: 1px solid rgb(35, 32, 24) !important;
    padding: 5px 10px !important;
    font-size: 16px !important;
    border-radius: 10px;
}

.consult-box .newItem .input-group label {
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.newItem label {
    margin-bottom: 5px;
    white-space: nowrap;
    font-weight: bold;
}

.newItem input[type="text"] {
    flex: 1;
    margin-right: 10px;
    height: 40px;
    max-width: 200px;
}

.consult-box {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 500px;
    margin: -70px auto 50px;
    position: relative;
    z-index: 10;
}

.addBtn {
    background: linear-gradient(160deg, #b87223, #c9aa72);
    height: 38px;
    padding: 0 20px;
    line-height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    position:static;
    margin-top: 25px;
    left: 75%;
}

.addBtn:hover {
    background: linear-gradient(160deg, #c9aa72, #b87223);
}

.newSearch {
    background: linear-gradient(160deg, #a00ee4, #0a0ef1);
    height: 40px;
    width: 30px;
    padding: 0 20px;
    line-height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
}

.newSearch:hover {
    background-color: #4b0082;
}

.home {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.home li {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px 15px 15px 15px;
    font-family: 'Open Sans', sans-serif;
    transition: transform 0.3s;
    transform-origin: center center;
}

.home li p {
    font-family: 'Open Sans', sans-serif;
}

.home li:hover {
    border-color: #409407;
    transform: scale(1.05);
}

.home li:active {
    border-color: #0ad626;
}

.home img {
    height: 90px;
    width: 90px;
}

.home h2 {
    font-size: 18px;
    font-weight: bold;
}

.home-descricao {
    font-size: 18px;
}

table {
    border: none;
    width: 90%;
    margin-left: 5%;
}

th,
td {
    border: none;
    padding: 12px 8px;
    font-size: 18px;
    transition: 0.2s;
    text-align: left;
}

th:nth-child(1) {
    width: 60%;
}

tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

tr:hover {
    background: rgb(200, 199, 199);
}

.lixeira-img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

table td:last-child {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    background-color: transparent;
    border: none;
    font-size: larger;
    cursor: pointer;
    color: red;
}

/* Centralizando o conteúdo das colunas */
table th:nth-child(2),
table td:nth-child(2),
table th:nth-child(3),
table td:nth-child(3),
table th:nth-child(4),
table td:nth-child(4) {
    text-align: center;
    vertical-align: middle;
}

/* ******************RODAPÉ****************** */

footer {
    text-align: center;
    margin-top: 50px;
    padding: 1px;
    background-color: rgba(218, 209, 204, 0.37);
    z-index: 1;
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin-top: 1px;
    padding: 1px;
}

footer img {
    width: 20%;
    height: 20%;
}

/* ******************NOTIFICAÇÕES****************** */

.toast {
    position: fixed;
    top: 8%;
    right: 4%;
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 4px;
    z-index: 1000;
    animation: fade-out 5s forwards;
}

.toast.success {
    background-color: #008000;
}

.toast.error {
    background-color: #FF0000;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}