body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

/* ******************CABEÇALHO****************** */
header {
    background: #fafafa;
    padding: 20px 0;

}

.topo {
    position: relative;
    height: 202.28px;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 156px;
    right: 0;
    margin-right: 30px;
}

img {
    width: 15%;
    top: 145px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    color: #818181;
    text-decoration: none;
}

nav a:active {
    color: #535353;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 22px;
    width: 100%;
    background: #000000;
    display: inline-block;
    padding: 2px 0px;
    position: static;
    text-align: center;
    top: 0px;
}

/* ******************FIM DO CABEÇALHO****************** */
.home {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.home li {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px 15px 15px 15px;
}

.home li:hover {
    border-color: #409407;
}

.home li:active {
    border-color: #0ad626;
}

.home li:hover h2 {
    font-size: 20px;
}

.home img {
    height: 90px;
    width: 90px;
}

.home h2 {
    font-size: 18px;
    font-weight: bold;
}

.home-descricao {
    font-size: 18px;
}

.newItem {
    background: #fafafa;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

.newSearch {
    background: #fafafa;
    padding: 30px 40px;
    color: white;
    text-align: center;
    /* Adicionado para centralizar o conteúdo horizontalmente */
}

.newSearch:after {
    content: "";
    display: table;
    clear: both;
}

#novoMorador {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
}

#novoApartamento {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 8%;
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Adicionado para definir a orientação em coluna */
    align-items: center;
    /* Adicionado para centralizar horizontalmente */
    text-align: center;
    /* Adicionado para centralizar o texto */
}

.lixeira-img {
    display: block;
    margin: 0 auto;
    width: 35%;
    height: auto;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table {
    background-color: white;
    width: 80%;
}

tr:nth-child(odd) {
    background-color: #eee;
}

th:nth-child(1) {
    width: 80%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

/* ******************RODAPÉ****************** */

footer {
    text-align: center;
    margin-top: 50px;
    padding: 1px;
    background: rgb(78, 78, 78);
}

.copyright {
    color: #000000;
    font-size: 13px;
    margin-top: 1px;
    padding: 1px;
}

footer img {
    width: 20%;
    height: 20%;
}